<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.board.service.impl.BoardMapper">
	<select id="selectBoardList" parameterType="searchVO" resultType="boardVO">
			SELECT  BOARD_IDX
			      , WRITER
			      , TITLE
			      , CONTENT
			      , UES_YN
			      , DATE_CREATED
			      , DATE_MODIFY
			      , VIEW_COUNT
			      , LIKE_COUNT
			  FROM BOARD
			 WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchCondition == 1">
						AND	TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
		            <when test="searchCondition == 2">
						AND	CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
				</choose>
			</if>
			 ORDER BY 1 DESC
			 LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
	</select>

	<select id="selectBoardListTotCnt" parameterType="searchVO" resultType="int">
			SELECT COUNT(*) totcnt
			  FROM BOARD
			 WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchCondition == 1">
						AND TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
		            <when test="searchCondition == 2">
						AND	CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
				</choose>
			</if>
	</select>
	
	<select id="selectBoard" resultType="boardVO">
		SELECT BOARD_IDX
		     , WRITER
		     , TITLE
		     , CONTENT
		     , UES_YN
		     , DATE_CREATED
		     , DATE_MODIFY
		     , VIEW_COUNT
		     , LIKE_COUNT
		  FROM BOARD
		 WHERE BOARD_IDX = #{board_idx}
	</select>
	
	<insert id="insert" parameterType="boardVO">
		INSERT INTO BOARD
			 ( WRITER
		     , TITLE
		     , CONTENT
		     , UES_YN
		     , DATE_CREATED )
		VALUES
			 ( #{writer}
			 , #{title}
			 , #{content}
			 , 'N'
			 , NOW() )
	</insert>
	
	<select id="maxBoardIndex" resultType="int">
		SELECT MAX(BOARD_IDX) BOARD_IDX
  		  FROM BOARD
	</select>
</mapper>