@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'KCC-Hanbit';
}
#modalBnt, [for='searchCondition'] {
    display: none;
}
/* 게시판 제목 앞에 | 스타일 넣어준 것 */
#titleVar {
    color: gray;
    font-weight: bold;
}
/* 게시판 목록 열 가운데정렬 */
#tableArea {
    height: 695px; 
}
#tableArea .boardAllList th,
#tableArea .boardAllList tbody td {
    text-align: center;
}
/* 게시판 목록 특정 열 왼쪽정렬(게시내용) */
#tableArea .boardAllList tbody .exclude-row {
    text-align: left;
}
/* 게시글 내용 한줄라인 글자수 제한 */
.exclude-row .txt_line {
    width:200px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
/* 게시글 제목 한줄라인 글자수 제한 */
.exclude-row a {
    width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display: block;
    padding-left: 10px;
}
/* 버튼 오른쪽정렬 */
.btn-area {
    float: right;
}