<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.board.service.impl.BoardMapper">
	<select id="selectBoardList" parameterType="searchVO" resultType="boardVO">
			SELECT board_idx
				 , writer
				 , title
				 , content
				 , ues_yn
				 , date_created
				 , date_modify
				 , view_count
				 , like_count
			  FROM board
			 WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchCondition == 0">
						AND	title LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 1">
						AND	content LIKE '%' || #{searchKeyword} || '%'
					</when>
				</choose>
			</if>
			 ORDER BY 1 DESC
			 LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
	</select>

	<select id="selectBoardListTotCnt" parameterType="searchVO" resultType="int">
			SELECT COUNT(*) totcnt
			FROM board
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchCondition == 0">
						AND title LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 1">
						AND	content LIKE '%' || #{searchKeyword} || '%'
					</when>
				</choose>
			</if>
	</select>
</mapper>